body {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    position: relative;
    color: #3E3637;
    background: #fff;
    padding-top: 150px;
}

#container {
	margin: 1% auto;
    max-width: 960px;
}

header {
    display: flex;
    padding: 20px;
    position: fixed;
    left: 0;
    width: 100%;
    top: 0;
    height: 100px;
    background: #fff;
}

h1 {
    font-family: 'Noto Sans JP', sans-serif;
    font-style: thin;
    text-align: left;
    font-size: 45px;
    color: #3E3637;
    justify-content: flex-start;
    align-items: flex-end;
}
/* 
#multiscroll {
    display: grid;
    grid-template-columns: 50% auto;
    grid-gap: 3px;
} */


h2 {
    font-family: 'Noto Sans JP', sans-serif;
    font-style: thin;
    text-align: center;
    font-size: 30px;
    display: inline;
    color: #3E3637;
}

.press-button {
    height: 36px;
    line-height: 36px;
    border: 1px solid #9B5D4E;
    padding: 0 20px;
    margin: 20px;
    font-size: 13px;
    background: transparent;
    color: #9B5D4E;
    text-decoration: none;
    font-weight: 900;
    text-transform: uppercase;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    cursor: pointer;
    position: absolute;
    right: 10px;
}


.submit-button {
    align-self: flex-end;
    display: inline;
    /* height: 36px; */
    line-height: 36px;
    border: 1px solid #9B5D4E;
    padding: 0 20px;
    margin: 20px;
    font-size: 13px;
    background: transparent;
    color: #9B5D4E;
    text-decoration: none;
    font-weight: 900;
    text-transform: uppercase;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    cursor: pointer;
}

button:hover {
    color: #ffffff !important;
    background: #CD6657;
    border-color: #CD6657 !important;
    transition: all 0.4s ease 0s;
}

p {
    font-family: 'Montserrat', sans-serif;
}

.contact-form {
    display: block;
    margin-top: 0em;
    position: relative;
    font-size: 17px;
    /* background: linear-gradient(21deg, #962E40, #f6b93b); */
    padding: 3px;
    display: inline-block;
    border-radius: 1px;
    position: relative;
    margin: 0 auto;
    z-index: 1;
    opacity: 1;
    transform: scale(1);
    display: block;
}

.email-signup {
    position: relative;
    padding-top: 1.5rem;
    display: block;
}

.email-signup {
    display: block;
}

label {
    position: absolute;
    top: 0;
    font-size: var(--font-size-small);
    opacity: 1;
    transform: translateY(0);
    transition: all 0.2s ease-out;
}

input:placeholder-shown + label {
    opacity: 0;
    transform: translateY(1rem);
}

a, img {
    width: 200px;
    height: 25%;
    margin: 0 auto;
}
.restaurant-logos {
    display: flex;
    align-content: center;
    padding: 10px;
}

@media (max-width: 550px) {
    .restaurant-logos {
        display: block;
        margin: 20px;
        padding: 20px;
}
}

html::after {
    content: '';
    background: linear-gradient(15deg, #B74134, #CD6657);
    height: 15px;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.top {
    color: #CDCECD;
    font-size: 13px;
    line-height: 20px;
    text-align: center;
    background: #B74134;
    padding: 40px;
    justify-self: bottom;
    width: 100%;
}

.bottom {
    color: #CDCECD;
    font-size: 13px;
    line-height: 20px;
    text-align: center;
    background: #CD6657;
    padding: 40px;
    width: 100%;
}