.wrapper {
	text-align: center;
	padding-top: 75px;
}

header {
	background: SeaGreen;
	position: fixed;
	width: 100%;
	top: 0;
	height: 75px;
}

img {
	width: 70%;
	display: block;
	margin: 30px auto 0;
}

h1 {
	font-size: 40px;
	font-family: 'Courier New', Courier, monospace;
	color: snow;
	text-align: center;
	margin-top: 18px;
}