.wrapper {
	text-align: center;
	padding-top: 75px;
}

header {
	background: SeaGreen;
	position: fixed;
	width: 100%;
	top: 0;
	height: 75px;
	font-size: 45px;
	font-family: 'Courier New', Courier, monospace;
	color: snow;
	text-align: center;
	line-height: 1;
	transform: all .4s;
}

img {
	width: 70%;
	display: block;
	margin: 30px auto 0;
}

.small-header {
	height: 30px;
	background-color: teal;
	font-size: 30px;
}