/* FONT FAMILY HELPERS :)
font-family: 'Oswald', sans-serif;
font-family: 'Merriweather', serif;
font-family: 'Source Sans Pro', sans-serif; */

header {
    background: black;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-right: 15px;
    padding-left: 15px;
}

h1 {
    display: flex;
    font-family: 'Merriweather', serif;
    color: yellow;
}

a {
    color: #C6C6C6;
    font-family: 'Oswald', sans-serif;
    text-decoration: none;
    padding-right: 15px;
    font-size: 14px;
}

.tagline {
    font-family: 'Merriweather', serif;
    background: #C6C6C6;
    text-emphasis: bold;
    font-style: italic;
    font-size: 25px;
    text-align: center;
    padding: 14px;
}

.taste {
    color: darkgrey;
    text-decoration: line-through;
}

.are {
    text-decoration: underline;
    text-decoration-color: yellow;
}

hr {
    display: block;
    border: 1.5px solid yellow;
    margin: 0;
    padding: 0;
}

body {
    width: 800px;
    margin: auto;
    font-family: 'Source Sans Pro', sans-serif;
    background-image: url('../img/coworking.jpg');
    background-repeat: no-repeat;
    object-fit: cover;
    background-size: 800px;
    background-position: center;
    background-position-y: 55px;
    border: 1px solid #C6C6C6;
    box-shadow: 1.5px rgba(0, 0, 0, .4);
}

/* img {
    width: 798px;
    margin-bottom: -7;
    object-fit: cover;
    height: 325px;
    border: 1px solid #C6C6C6;
    box-shadow: 1.5px rgba(0, 0, 0, .4);
}  */

/* This is the formatting for getting the img insert in html correct...having difficulty with having it as a background porperty. It visually looks correct on my screen but I'm not sure how it will hold up in differnt sized screens*/

.meetmatch {
    position: relative;
}

.textblock {
    position: absolute;
    right: 20px;
    top: 45px;
    width: 280px;
    background: rgba(255, 255, 255, 0.7);
    color: black;
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    border: 1px solid #C6C6C6;
    box-shadow: 1.5px rgba(0, 0, 0, .4);
}

.create-profile {
    background-color: yellow;
    border: none;
    width: 245px;
    color: black;
    text-emphasis: bold;
    margin: 2px;
    padding: 5px 15px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-bottom: 25px;
    border-radius: 3px;
    box-shadow: 0 1.5px 1.5px rgba(0, 0, 0, 0.4);
}

h2 {
    font-family: 'Merriweather', serif;
    font-size: 25px;
    margin-bottom: -11px;
    /* In my previous HW you mentioned that I should try changing another element's margin than doing a negative margin...what else would I change? Are there any ramifications to using a negative margin? */
}

h3 {
    font-family: 'Oswald', sans-serif;
}

.container {
    display: flex;
    padding: 25px;
    background: rgba(240, 240, 240);
    margin-top: 335px;
    align-content: space-around;
    justify-content: space-evenly;
}

.sign-up-button {
    background-color: #C6C6C6;
    border: none;
    color: black;
    text-emphasis: bold;
    font-family: 'Oswald', sans-serif;
    margin: 0 auto;
    width: 175px;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    box-shadow: 0 1.5px 1.5px rgba(0, 0, 0, 0.4);
    align-items: flex-end;
    border-radius: 3px;
}

/* Was having trouble getting the text to line up vertically w/ the buttons here */

.profile {
    padding-right: 10px;
}

.developer {
    border-right: 1px solid #C6C6C6;
    border-left: 1px solid #C6C6C6;
    padding-left: 10px;
    padding-right: 10px;
}

.designer {
    padding-left: 10px;
}

.search-start {
    position: relative;
    background-color: #C6C6C6;
    border: none;
    color: black;
    text-emphasis: bold;
    font-family: 'Oswald', sans-serif;
    padding: 5px 15px;
    width: 175px;
    margin: 0 auto;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    box-shadow: 0 1.5px 1.5px rgba(0, 0, 0, 0.4);
    align-items: flex-end;
    border-radius: 3px;
}

/* Question: Was playing around with a properties...why doesn't the following work? */

.search-start.hover {
    background: yellow;
}

footer {
    background: black;
    color: #C6C6C6;
    padding: 5px;
    text-indent: 10px;
}