body {
    max-width: 720px;
    padding: 54px;
    margin: 0 auto;
    text-align: left;
    font-family: 'Lato', sans-serif;
    line-height: 1.5;
    height: 100%;
    min-height: 100%
}

h1 {
    color: #e2231a;
    font-weight: lighter;
    font-size: 28pt;
    margin-top: 50px;
}

h2 {
    font-weight: lighter;
    font-size: 14pt;
    margin-top: -20px;
}

h3 {
    color: black;
    font-weight: lighter;
    font-size: 25px;
    margin-top: 0px;
    margin-bottom: 10px;
    
}

h4 {
    color: #bbbbbb;
    font-weight: lighter;
    font-size: 14px;
    margin-top: 10px;
}
p {
    color: #42403F;
}

img {
    margin: 0 auto;
    width: 720px;
    display: block;
}

hr {
    height: 1.5px;
    color: #dddddd;
    background-color: #dddddd;
    border: none;
}

nav {
    margin-top: -10px;
}
.navlink {
    color: #dddddd;
    padding-right: 10px;
    
}

.navlink:hover {
    color: black;
}

.dates {
    color: #cccccc;
    font-size: 16pt;
    font-weight: lighter;
    margin-top: 30px;
}

footer {
    margin-top: 35px;
}

.link {
    color: #e2231a;
    text-decoration: none;
    font-size: 14px;
}

.link:hover {
    color: #aa0000;
}

.continues {
    color: #e2231a;
    font-weight: bold;
    text-align: right;
}

.links {
    margin-bottom: 30px;
}

.vertical {
    border-left: 4px solid #e2231a;
    margin-left: 0px;
    margin-top: -100px;
    margin-bottom: -150px;
    margin-left: -40px;
    padding-left: 40px;
    border-radius: 2px;
}