body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    position: relative;
    color: #fff;
    background: #575a6c;
}

header {
    display: flex;
    padding: 20px;
}

h1 {
    font-family: 'Noto Sans JP', sans-serif;
    font-style: thin;
    text-align: left;
    font-size: 45px;
    display: inline;
}

button {
    align-self: flex-end;
    /* position: relative; */
    display: inline;
    height: 36px;
    line-height: 36px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    padding: 0 20px;
    font-size: 13px;
    background: transparent;
    color: #fff;
    text-decoration: none;
    font-weight: 900;
    text-transform: uppercase;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    cursor: pointer;
}

button:hover {
    color: #ffffff !important;
    background: #f6b93b;
    border-color: #f6b93b !important;
    transition: all 0.4s ease 0s;
}

p {
    font-family: 'Montserrat', sans-serif;
}

.contact-form {
    display: block;
    margin-top: 0em;
    position: relative;
    font-size: 17px;
    /* background: linear-gradient(21deg, #962E40, #f6b93b); */
    padding: 3px;
    display: inline-block;
    border-radius: 1px;
    position: relative;
    margin: 0 auto;
    z-index: 1;
    opacity: 1;
    transform: scale(1);
}

img {
    width: 225px;
}

html::after {
    content: '';
    background: linear-gradient(21deg, #962E40, #f6b93b);
    height: 3px;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.top {
    font-size: 13px;
    line-height: 20px;
    text-align: center;
    background: #962E40;
    padding: 40px;
    align: bottom;
    width: 100%;
}

.bottom {
    font-size: 13px;
    line-height: 20px;
    text-align: center;
    background: #f6b93b;
    padding: 40px;
    width: 100%;
}